@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

:root {
    --first-color: #5bb5b0;
    --first-color-light: #000000;
    --white-color: #F7F6FB;
    --body-font: 'Mitr';
    --normal-font-size: 100%
}
li.nav-link{
    color: white;
}
p.h1{
    color: #ffea00;
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: rgb(255, 246, 230);
}
.side-navbar {
    width: 180px;
    height: 100%;
    position: fixed;
    margin-left: -300px;
    background-color:  #b73258;
    transition: 0.8s;
  }
  .nav-link:active,
  .nav-link:focus,
  .nav-link:hover {
    background-color: #ffffff26;
  }
  .my-container {
    transition: 0.8s;
  }
  .active-nav {
    margin-left: 0;
  }
  /* for main section */
  .active-cont {
    margin-left: 180px;
  }
  #menu-btn {
    background-color: #00b7bf;
    color: #fff;
    margin-left: -62px;
  }


