@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

:root {
  --first-color: #5bb5b0;
  --first-color-light: #000000;
  --white-color: #f7f6fb;
  --body-font: "Mitr";
  --normal-font-size: 100%;
}
li.nav-link {
  color: white;
}
p.h1 {
  color: #ffea00;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: rgb(255, 246, 230);
}
.side-navbar {
  width: 180px;
  height: 100%;
  position: fixed;
  margin-left: -300px;
  background-color: #b73258;
  transition: 0.8s;
}
.nav-link:active,
.nav-link:focus,
.nav-link:hover {
  background-color: #ffffff26;
}
.my-container {
  transition: 0.8s;
}
.active-nav {
  margin-left: 0;
}
/* for main section */
.active-cont {
  margin-left: 180px;
  caret-color: transparent;
  line-height: 40px;
  transition: width 0.4s linear;
}
#menu-btn {
  background-color: #00b7bf;
  color: #fff;
  margin-left: -62px;
}
.searchbar {
  margin-bottom: 100px;
  margin-top: 100xp;
  height: 60px;
  background-color: #353b48;
  border-radius: 30px;
  padding: 0 10px;
}

.h-100{
  margin-top: 100px;
}

.search_input {
  color: white;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  caret-color: transparent;
  

}

.searchbar:hover > .search_input {
  padding: 20px;
  width: 50px;
  caret-color: red;
  
}

.searchbar:hover > .search_icon {
  background: white;
  color: #e74c3c;
}

.search_icon {
  height: 50px;
  width: 50px;
  float: right;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  text-decoration: none;
}
