//Primary Text colors
$very-dark-desaturated-blue: hsl(238, 29%, 16%);
$soft-red:#ffb380;

//Neutral Text colors
$very-dark-grayish-blue: #0e1c2b;
$dark-grayish-blue: hsl(240, 6%, 50%);

//Dividers
$light-grayish-blue: hsl(240, 5%, 91%);
