@import "config";

html {
  box-sizing: border-box;
 
}
body{
  min-height: 100vh;
  line-height: 18px;
  font-weight: 400;
  place-items: center;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

// .faq{

//   /*min-height and grid place-items center in a body to put attribution right under the component.
//   but generally I think it's better to put height and grid on container */

//   /*min-height so linear-gradient would not clipp at the bottom */
//   min-height: 100vh;

// }


button {
  color: $very-dark-grayish-blue;
  font-size: 40px;
  line-height: 40px;
}

button:focus-visible {
  /* Draw a very noticeable focus style for
     keyboard-focus on browsers that do support
     :focus-visible */
  outline: 2px dashed $soft-red;
  outline-offset: 1px;
}



// .font-weight-bold {
//   font-weight: 900;
// }
#root {
  width: 100%;
}

@import "faq";
@import "responsive";
@import "animation";

